.palyer{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: url("images/ufo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    cursor: none;
}

.body{
    overflow-x: hidden;
    overflow-y: hidden;

}
.enemy{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    animation: all 0.11s;
}

.ammo{
    width: 10px;
    height: 30px;
    background-color: orange;
    position: absolute;
}

#game{
    width: 1500px;
    height: 900px;
    margin-left: 200px;
    margin-top: 20px;
    background-color: blue;
 }